header {
    border: 1px solid black;
    background-color: #98a;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav ul {
    list-style: none;
    /* removes bullet points */
    padding: 0;
    margin: 0;
    display: flex;
    /* makes links horizontal */
    gap: 20px;
    /* space between links */
}

nav ul li a {
    text-decoration: none;
    /* removes underline */
    color: black;
    /* sets text color */
    font-weight: bold;
    /* optional: makes text bold */
}

h1 {
    text-align: center;
}

.contact-info {
    align-items: stretch;
    text-align: center;
    gap: 2rem;
    margin: 2rem 0;
    order: 2;

}

.company-details {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
    order: 2;

}

.map {

    flex: 2;
    text-align: left;
    order: 1;
}

.contact-form form {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 1.5rem;
    align-items: center;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form {
    max-width: 600px;
    margin: 2rem auto;
    /* centers the form block */
    text-align: end;
    /* centers text inside */
    margin-top: -500px;
    /* small rise */
    position: sticky;
    /* remove the -500px hack */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    /* stack label + input vertically */
    gap: 1rem;
    align-items: flex-end;
    /* centers inputs and labels together */
}

 <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2404.1887464603737!2d-1.0962517184825054!3d52.94502674319095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c405e51afd01%3A0x842b363a3885c500!2sWhite%20Water%20Rafting%20at%20Holme%20Pierrepont%20Country%20Park!5e0!3m2!1sen!2smw!4v1785503002988!5m2!1sen!2smw"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="strict-origin-when-cross-origin"></iframe>